.header {
    height: 84px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 25;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            cursor: pointer;
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 32px;

            li {
                list-style-type: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                cursor: pointer;

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #000;
                    -webkit-transition: width .3s;
                    -o-transition: width .3s;
                    transition: width .3s;
                }
                
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }

    &-order {
        display: flex;
        align-items: center;
        gap: 20px;

        &-discount {
            p {
                margin: 0;
            }

            &__price {
                font-size: 14px;
                line-height: 20px;
            }

            &__subscription {
                font-size: 12px;
                line-height: 16px;
                text-align: right;

                color: #7B7B7B;
            }
        }
    }
}