.features {
    padding: 0px 100px 160px;
    overflow: hidden;

    h2 {
        margin-bottom: 80px;
    }

    &-slider {
        overflow: auto;
        
        padding-bottom: 82px;

        &-cards {
            display: flex;
            gap: 24px;
        }

        scrollbar-color: #1717172d #171717;
        scrollbar-width: thin;
    }
}