.features {
    padding: 0px 100px 160px;
    overflow: hidden;

    h2 {
        margin-bottom: 80px;
    }

    &-slider {
        overflow: auto;
        display: flex;
        gap: 24px;
        padding-bottom: 82px;

        scrollbar-color: rgba(23, 23, 23, 0.1) #171717;;
        scrollbar-width: thin;
    }
}