html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #171717;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: none;
}

h2.section-title {
  margin: 0;
  font-weight: 500;
  font-size: 68px;
  line-height: 80px;
}